.player-card {
  &Container {
    margin: 0 auto;
    display: flex;
    place-items: center;
    flex-direction: column;
  }

  &ArtCover {
    width: 500px;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  &Controls > * {
    margin: 0 10px;
  }

}
